body {
    background-color: #555;

}

[v-cloak] {
    display: none;
}

.wraper {
    position: relative;
    /* margin: 10rem; */
    padding: 0.5rem;
    overflow: hidden;
    height: 50%;
    padding: 2rem;

}

.btn-secondary {
    background-color: rgb(66, 76, 77);
    font-size: 1.5em;
    transition: .8s;
}

.element {
    /* position: absolute; */
    top: 0%;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.element1 {
    text-align: center;
    margin: 0px 0px 2rem 0px;
}
.element1 p{
    font-size: 5em;
}
.todos {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    /* background-color: #888; */
}

.todos div {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #888;
    width: max-content;
    padding: 1.3rem;
}
.user-id{
    font-size: 5em;
    background-color: #555;
    display: inline;
    margin-bottom: 1.5rem;
}
.user-title{
    text-transform: uppercase;
}