<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form bindings</title>
</head>
<body>
  <div id="app">
    <input :value="text" @input="onInput" placeholder="Type here">
    <p>{{ text }}</p>
      <!-- <input type="text" v-model="lnInput" placeholder="Type Lastname">
      <p>{{ lnInput }}</p>
      <input type="email" v-model="emailInput" placeholder="Type Email">
      <p>{{ emailInput }}</p>
      <input type="password" v-model="passwordInput" placeholder="Type your Password">
      <p>{{ passwordInput }}</p> -->
  </div>
  <script type="module">
  import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.esm-browser.min.js'
  
  createApp({
    data() {
      return {
        text: ''
      }
    },
    methods: {
      onInput(e) {
        this.text = e.target.value
      }
    }
  }).mount('#app')
  </script>
</body>
</html>